.rounded_button_gradient{
    border-radius: 25px;
    background-image: linear-gradient(to left top, #0062cc, #2074d9, #3586e6, #4999f3, #5dabff);
    color:white;
    border: 0;
    padding:10px 20px;
}

.rounded_button_white{
    border-radius: 25px;
    background: white;
    color:#0062cc;
    border: white;
    padding:10px 20px;
    transition: all .2s ease-in-out;
}

.rounded_button_white:hover{
    color : white;
    background-color: #343a40;
}

.rounded_transparent{
    border: 0;
    padding:10px 20px;
    background-color: transparent;
    border-radius: 25px;
}

.rounded_transparent:hover{
    background: white;
    color: #0062cc;
}
  